* {
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
}

body {
    background: #47449e;
    font-size: 3rem;
    font-family: "Segoe UI", "Arial";
    color: #ffffff;
    font-weight: 700;
}

p { 
    margin: 1rem;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    width: 100%;
}

.title {
    font-size: 5rem;
    color: #fcfcfd;
    text-align: center;
    margin: 0;
}

.table {
    width: 100%;
    margin: 2rem 0;
}

.gentle-hover-shake {
    display: inline-block;
}

.gentle-hover-shake:hover {
    animation: tilt-shaking 0.25s;
    animation-iteration-count: 2;
}

.column {
    border: 5px solid #63649f;
    background: #373372;
    border-radius: 15px;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-top: 2rem;
    padding: 2.5rem 0;
}

.row {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    flex-wrap: wrap;
}

.today, .total{
    width: calc(50% - 1rem);
}

.status {
    width: calc(33.33% - 1rem);
}

.footer {
    text-align: center;
    font-size: 2.2rem;
}

.footer a { 
    color: inherit; 
} 

@keyframes tilt-shaking {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(5deg); }
    50% { transform: rotate(0deg); }
    75% { transform: rotate(-5deg); }
    100% { transform: rotate(0deg); }
}

@media screen and (max-width: 700px){
    .today.column:first-of-type {
        margin-top: 0;
    }

    .column{
        width: 100%;
    }
}

@media screen and (max-width: 550px){
    :root { 
        font-size: 50%;
    }
    
    .table {
        margin: 3rem 0;
    }
    
    .column{
        width: 100%;
    }
}
